body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    
}

.logo {
     
     width: 125px;

}

.navigation {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.navigation-bar {
    float: right;
    text-align: center;
    margin-right: 30px;
    margin-top: 7px;
    
}

.navigation-text {
    color: #afc300;
    text-decoration: none;
    margin-right: 25px;
    font-weight: bold;
}

.navigation-text:hover {
    color: #889517 ;
    text-decoration: none;
}

.sign-in {
    
    position: relative;
    left: 20px;
    bottom: 3px;
    border-radius: 17px;
    opacity: 0.9;
    padding: 5px;   
    width: auto;
}

.carousel-inner {
    height: 881px;
    margin-bottom: 14px;    
}

.about-img {
    width: 100%;
    height: 886px;
    margin-top: 34px;
    margin-bottom: 34.5px;
    
}

.about-text {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 1130px;
    left: 100px;
    width: 620px;
    color: white;
    font-size: 16.5px;
    font-weight: 500;
    text-shadow: 0.8px 0.8px #646464;
    line-height: 34px;
    letter-spacing: 0.9px;
    
}

.about-header {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 45px;
    font-size: 28px;
    text-shadow: 0.5px 0.5px #646464;
}

.h2-1 {
    position: absolute;
    top: 2040px;
    left: 305px;
}



.section-img {
    float: right;
    margin-top: -17px;
    height: 882px;
    width: 1200px;
    
}

.section-cards {
    float: left;
    position: relative;
    margin-left: 215px;
    margin-top: 165px;
}

.card1 {
    margin-bottom: 40px;
}

.hr-2 {
    margin-top: 881px;
    margin-bottom: 51px;
}

.section-clients-img {
    height: 876px;
    float: left;
    margin-top: -17px;
}

.sec-client {
    font-family: 'Montserrat', sans-serif;
    float: right;
    margin-right: 160px;
    margin-top: 170px; 
}

.clients {
    margin-bottom: 60px;
}

h3 {
    margin-bottom: 40px;
}

.hr-4 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 875px;
}

.contact-us {
   
   margin-left: 350px;
   margin-bottom: 90px;
   float: left;    
}

.footer {
    background-color:black;
    padding-bottom: 50px;
    margin: 100px auto 0 auto;
    padding-top: 36px;
    text-align: center;
    clear: both;
}

.sm {
    width: 35px;
       
}

.sm1 {
    width: 35px;
    margin-left: 25px;
}

.footer-text-1 {
    letter-spacing: 0.3px;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.footer-img {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 70px;
}

.footer-txt {
    position: relative;
    top: 50px;
    font-size: 17px;
    color: grey;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
}

.h4-1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 110px;
    margin-left: 81px;
    text-align: center;
    margin-top: 80px;
       
}

.form-group {
    text-align: center;
    margin: 0 auto 0 auto;
    width: 500px;
}

.submit-button {
    text-align: center;
    margin-left: 709px;
    margin-bottom: 70px;
}

.cards {
    width: 900px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.form-logo {
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 90px 0 50px 0;
}

.form-footer {
    margin-top: 289px;
}

.table-cont {
    text-align: center;
    margin: 70px auto 70px auto;
    width: 800px;
}

.table-img {
    width: 50px;
}

th, td {
    padding: 20px;
    border-bottom: 1px solid black;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}


tr:hover {background-color: #f5f5f5;}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  
  .pagination a.active {
    background-color: #AFC300;
    color: white;
  }
  
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .pagination {
      margin-left: 535px;
      margin-bottom: 70px;
      clear: both;
  }

  .h1-p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      margin-top: 80px;
      margin-bottom: 50px;
  }

    
  .product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 210px;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-weight: 450;
    font-size: 15px;
    float: left;
    margin-right: 85px;
    margin-top: 50px;
    height: 326px;
  }
  
  .price {
    color: grey;
    font-size: 17px;
  }
  
  .product-card button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
  }
  
  .product-card button:hover {
    opacity: 0.7;
  }

  .card-lane1 {
      margin-left: 400px;
  }

  .last-card {
      margin-bottom: 100px;
  }

  .maps {
      margin-left: 170px;
      margin-top: 20px;
  }

  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
        
  }
  